name: Scrape latest data

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    # every hour
    - cron: '12 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-22.04
    timeout-minutes: 45
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Fetch latest data (dispatch)
      timeout-minutes: 45
      if: github.event_name == 'workflow_dispatch'
      run: |-
        python3 dl.py
    - name: Fetch latest data (cron)
      timeout-minutes: 10
      if: github.event_name == 'schedule'
      run: |-
        python3 dl.py -n 10
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Aktualizace: ${timestamp}" || exit 0
        git push
